<h1>Listing mp3s</h1>

<div >

 <form action="/filter" method="GET">

<%= select("Mp3", "Artist", {'Circadian Riddims' => 'Circadian Riddims', 'kwe' => 'kwe'}, { :prompt => 'Select Artist' }) %>
<%= select("Mp3", "Rating", {'*' => '1', '**' => '2', '***' => '3', '****' => '4', '*****' => '5'}, { :prompt => 'Select Minimum Rating' }) %>

<br />
     <input type="hidden" name="iMp3_Artist" value="kwe" />
     <input type="hidden" name="filtered" value="yes" />
     <input type="submit" value="Filter" />
 </form>
</div>

<table>
  <tr>
    <th>Score</th>
    <th>Url</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Length</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mp3s.each do |mp3| %>
  <tr>
    <td><%= (mp3.avg_reviews * 100).round()/100  %></td>
    <td><%= mp3.url %></td>
    <td><%= mp3.title %></td>
    <td><%= mp3.artist %></td>
    <td><%= mp3.length %></td>
    <td><%= link_to 'Show', mp3 %></td>
    <td><%= link_to 'Edit', edit_mp3_path(mp3) %></td>
    <td><%= link_to 'Destroy', mp3, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br /> <font color="white">
params: <%= params.inspect %>
</font><br />
<br />
<%= link_to 'New Mp3', new_mp3_path %>
