<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @mp3.url %>
</p>

<p>
  <b>Title:</b>
  <%= @mp3.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @mp3.artist %>
</p>

<p>
  <b>Length:</b>
  <%= @mp3.length %>
</p>

<p>
  <b>Rating:</b>
<%= @mp3.avg_reviews  %>
  <br/><small>(<%= @mp3.count_reviews %> reviews)</small>
</p>
           
<%= form_for @mp3 do |f| %>

<h2>Reviews</h2>
<div id="reviews">
<%= render :partial => "reviews/review", :collection => @mp3.reviews %>
</div>

<% end %>

<p>
<%= render :partial => "mp3s/review" %>
</p>

<%= link_to 'Edit', edit_mp3_path(@mp3) %> |
<%= link_to 'Back', mp3s_path %>

<br /> <font color="white">
params: <%= params.inspect %>
</font>
<br />
<%= link_to 'New Mp3', new_mp3_path %>
